$primary-0: #b51a2b;
$primary-10: #0a0a0a;
$primary-20: #00ff00;
$primary-30: #32cd32;
$primary-40: #1c1c1c;
$primary-50: #c0c0c0;
$primary-60: #006400;
$primary-70: #90ee90;
$primary-80: rgba(255, 255, 255, 0.1);
